body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full height of viewport */
    background-color: black;
    width: 100%;
    height: auto;
}

canvas {
    border: 1px solid #000; 
    background-color: #ffffff;
    width: 90%; /* Use 100% width */
    height: auto;
    flex: 1;
}

.nav {
    width: 90%; /* Make the navigation full width */
    height: 60px; /* Allow height to adjust */
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(to right, #4568DC, #B06AB3);
    padding: 10px;
    z-index: 10; /* Ensure nav is above other elements */
}

.nav div, button, input {
    margin: 5px;
    flex: 1; /* Allow buttons to grow */
    max-width: 80px; /* Limit max width for buttons */
}

button {
    width: 100%; /* Make buttons take full width of the flex item */
    padding: .6em; /* Adjust padding for better appearance */
    border-radius: 5px;
    background-color: #03bb56;
    color: #fff;
    border: 3px solid white;
    font-size: 14px; /* Smaller font size for better fit on mobile */
}

.save, .save-svg {
    background-color: #0f65d4;
}

input[type="color"], input[type="range"] {
    width: 100%; /* Make color input take full width */
    max-width: 80px; /* Limit max width for color input */
}

#ageOutputId {
    color: white;
    font-weight: bold;
    font-size: 15pt;
}

#ageInputId {
    height: 7px;
    outline: none;
    border-radius: 5px;
    border: 3px solid white;
    accent-color: white;
}

